-
  //- Общие настройки для страниц -\\
  const BASIC = {
    lang: 'en',
    og_locale: 'en_US',
    og_site_name: 'Rock Paper Scissors',
    og_image_url: 'https://sylotana/rock-paper-scissors',
    og_image_alt: 'Smiles Peoples'
  }


-
  //- Настройки для каждой отдельной страницы -\\
  const PAGES = {

    index: {
      title: 'Rock Paper Scissors',
      description: 'Rock Paper Scissors Game',
      author: 'Anatoly Shangin (sylotana)',
      og_url: 'https://sylotana/rock-paper-scissors',
      og_type: 'website'
    }
    
  }